*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 75px;
    padding: 0px 40px;
    position: fixed;
    z-index: 999;
}

.cname{
    color: white;
}

.content{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.clogo{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.nav-iteams a{
    text-decoration: none;
    color: white;
}

.lt img{
    height: 50px;
    width: 50px;
}
.lts img{
    height: 60px;
    width: 60px;
}

.home-container{
    position: relative;
    top: 75px;
    height: 700px;
    width: 100%;
    background-color: black;
}
.back-img img{
    position: relative;
    width: 100%;
    height: 700px; 
    z-index: 0;
}
.hcontant{
    position: absolute;
    top: 0%;
    width: 35%;
    z-index: 100;
    color: white;
    padding: 65px;
    line-height: 45px;
}
.hcontant img{
    width: 100%;
}
.hcontant h1{
    font-size: xxx-large;
    line-height: 70px;
}
.ABOUT-US{
    position: relative;
    width: 100%;
    height: 600px;
    align-items: center;
    background-color: black;
    color: white;
}
.inside-body{
    display: flex;
    justify-content: space-between;
}
.hd{
    padding: 0px 514px;
}
.hd h2{
    padding: 10px 190px;
    font-size: xx-large;
}
.about-content{
    width: 50%;
    padding: 25px;
}
.dimg{
    width: 50%;
    padding: 25px;
}
.dimg img{
    height: 400px;
    width: 80%;
}
.MENU{
    position: relative;
    width: 100%;
    height: 900px;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px 50px;
}
.mhd img{
    padding: 0px 514px;
}
.mhd h2{
    padding: 10px 701px;
    font-size: xx-large;
}
.m1{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.FIND-US{
    position: relative;
    width: 100%;
    height: 600px;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px 50px;
}
.fhd img{
    padding: 0px 514px;
}
.fhd h2{
    padding: 10px 701px;
    font-size: xx-large;
}
.inf{
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    padding: 20px;
}
.fotbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 150px;
    padding: 0px 40px;
}
